<font color="green"><h2>{{successMessage}}</h2></font>
<h1>TO ADD: update profile, view profile, appointment approve/deny, appointment confirmed, patient approve/deny, patient confirmed</h1>
<a href="billAdd">Bill Add</a> |
<br/>
<br/>
<h1>################################################################</h1>
<br/>
<h2>Search for patient by doctor assigned</h2>
<form novalidate [formGroup]="patientForm" (ngSubmit)="displayDoctorHome()">
<input type="text" placeholder="doctorAssigned" name="doctorAssigned" formControlName="doctorAssigned">
<button class="w-40 btn btn-md btn-primary" type="submit"
					value="SignUp">Submit</button>
</form>
<br/>
<h1>################################################################</h1>
<br/>
<table border="10" [cellSpacing]="10" cellPadding="10" align="center">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Bill Amount</th>
        <th>City</th>
        <th>Doctor Assigned</th>
        <th>Symptom</th>
    </tr>
    <tr *ngFor="let patient of patients">
    <td>{{patient.name}}</td>
    <td>{{patient.email}}</td>
    <td>{{patient.billAmount}}</td>
    <td>{{patient.city}}</td>
    <td>{{patient.doctorAssigned}}</td>
    <td>{{patient.symptom}}</td>
    </tr>
</table>