
<h1>DOCTORFINDER Project 2 App</h1>

<a routerLink="login">Login</a> |
<a routerLink="loginAdd">Register</a> |
<a routerLink="loginInfo">LoginInfo</a> |
<a routerLink="patientAdd">patientAdd</a> |
<a routerLink="patientInfo">patientInfo</a> |
<a routerLink="doctorAdd">DoctorAdd</a> |
<a routerLink="doctorInfo">DoctorInfo</a> |
<a routerLink="billAdd">BillAdd</a> |
<a routerLink="billInfo">BillInfo</a> |
<a routerLink="appointmentAdd">AppointmentAdd</a> |
<a routerLink="appointmentInfo">AppointmentInfo</a> |
<router-outlet></router-outlet>