
<h1>DOCTORFINDER Project 2 App</h1>

<a routerLink="login">Login</a> |
<a routerLink="register">Register</a> |
<a routerLink="patientHome">Patient Home</a> |
<a routerLink="doctorHome">Doctor Home</a> |

<!--
<a routerLink="loginAdd">Register</a> |
<a routerLink="patientAdd">Patient Register</a> |
<a routerLink="doctorAdd">Doctor Register</a> |
<a routerLink="loginInfo">Login Info</a> |

<a routerLink="patientInfo">Patient Info</a> |

<a routerLink="doctorInfo">Doctor Info</a> |

<a routerLink="billInfo">Bill Info</a> |
<a routerLink="appointmentAdd">Appointment Add</a> |
<a routerLink="appointmentInfo">Appointment Info</a> |
-->
<router-outlet></router-outlet>